* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 5px;
}

header h1 {
  margin-left: 20px;
}

nav a {
  margin-left: 15px;
  text-decoration: none;
  color: black;
}

nav a:hover {
  text-decoration: underline;
}

nav button {
  margin-right: 30px;
  margin-left: 20px;
  background-color: white;
  border-radius: 5px;
  padding: 5px 25px;
}

nav button:hover {
  cursor: pointer;
  background-color: lightblue;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: Arial;
}

#promo {
  width: 100%;
  background-color: #f0f0f0;
  padding: 100px 0px;

  text-align: center;
}

#promo p {
  margin-top: 20px;
}

#promo button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: black;
  color: white;
  border-radius: 5px;
  border: none;
}

#promo button:hover {
  cursor: pointer;
  background-color: gray;
}

#imagenes {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

#foto1,
#foto2,
#foto3 {
  width: 250px;
  height: 400px;
  padding: 20px;
  margin: 20px 10px;
}

#foto1 div {
  background-color: black;
  width: 250px;
  height: 250px;
}

#foto2 div {
  background-color: black;
  width: 250px;
  height: 250px;
}

#foto3 div {
  background-color: black;
  width: 250px;
  height: 250px;
}

#imagenes p {
  margin-top: 10px;
}

#imagenes a {
  display: inline-block;
  padding-top: 15px;
  text-decoration: none;
  color: black;
  font-size: 0.75rem;
}

#imagenes a:hover {
  color: lightblue;
  cursor: pointer;
  text-decoration: underline;
}

#texto {
  text-align: center;
  margin-top: 30px;
}

#texto p {
  margin-top: 20px;
}

/* Footer */

#foot {
  background-color: lightgray;
}

#foot {
  padding: 40px;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr 1fr;
  gap: 20px;
  color: black;
}

#foot h2 {
  margin-bottom: 20px;
}

#foot h3 {
  margin-bottom: 20px;
}

#foot > p {
  margin: 15px 0;
}

#foot section {
  display: flex;
  flex-direction: column;
}

#foot ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#foot li {
  margin-bottom: 10px;
}

#foot section a {
  color: black;
  text-decoration: none;
}

#foot section a:hover {
  text-decoration: underline;
}
