* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Ubuntu", sans-serif;
}

body {
  background-color: yellow;
  overflow-x: hidden;
}

header {
  display: flex;
  justify-content: center;
}

header input {
  margin-top: 2rem;
  padding: 5px 235px;
  box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 2rem;
  border: none;
  text-align: center;
}

/* CONTENEDOR PRINCIPAL QUE MUESTRA 3 TARJETAS POR FILA */
.pokedex-container {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  justify-content: center;
  max-width: 700px; /* 3 tarjetas de 200px + 2 gaps de 25px = 700px */
  margin: 0 auto;
}

/* TARJETA INDIVIDUAL */
.pokedex {
  display: flex;
  flex-direction: column;
  width: 200px;
  margin-top: 1rem;
  box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.1);
  background-color: white;
  border-radius: 8px;
  overflow: hidden;
}

/* PARTE GRIS SUPERIOR */
.gray-container {
  position: relative;
  background-color: lightgray;
  height: 125px;
  width: 200px;
}

.gray-container img {
  display: block;
  margin: 0 auto;
  margin-top: 15px;
  height: 96px;
}

.gray-container .id {
  position: absolute;
  bottom: 0px;
  display: inline-block;
  background-color: rgb(177, 176, 176);
  color: brown;
  text-align: center;
  padding: 0.2rem 0.6rem;
  font-size: 0.8rem;
}

/* PARTE BLANCA INFERIOR */
.white-container {
  background-color: white;
  height: 125px;
  width: 200px;
}

.white-container .nombre {
  margin-left: 1rem;
  margin-top: 0.5rem;
  font-size: 1.2rem;
}

.white-container .tipos {
  display: flex;
  flex-wrap: wrap;
  margin-left: 1rem;
  margin-top: 0.3rem;
  gap: 0.3rem;
}

.white-container .tipo1,
.white-container .tipo2 {
  border: 1px solid black;
  color: brown;
  border-radius: 4px;
  padding: 0.1rem 0.5rem;
  font-size: 0.6rem;
}

.white-container .tipo2:empty {
  border: none;
}

/* EVOLUCIÓN */
.white-container .evolucion {
  display: inline-block;
  margin-left: 1rem;
  margin-top: 0.5rem;
  padding-left: 5px;
  color: brown;
  box-shadow: -3px 0 brown;
}

.white-container .evolucion strong {
  font-size: 1.3rem;
  color: black;
}

/* DECORACIONES (SI AÚN QUIERES ESTO EN LA PÁGINA) */
.circulo-rojo,
.circulo-rojo2,
.oreja1,
.oreja2 {
  position: fixed;
  z-index: -1;
}

.circulo-rojo {
  bottom: -75px;
  left: -75px;
  width: 150px;
  height: 150px;
  background-color: red;
  border-radius: 50%;
}

.circulo-rojo2 {
  bottom: -75px;
  right: -75px;
  width: 150px;
  height: 150px;
  background-color: red;
  border-radius: 50%;
}

.oreja1 {
  top: -50px;
  right: -50px;
  width: 100px;
  height: 100px;
  background-color: black;
  transform: rotate(45deg);
}

.oreja2 {
  top: -50px;
  left: -50px;
  width: 100px;
  height: 100px;
  background-color: black;
  transform: rotate(45deg);
}
